{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 120,
	"semi": true,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte", "svelteAllowShorthand": false, "bracketSameLine": true } }
	]
}
