@tailwind base;
@tailwind components;
@tailwind utilities;

/* btn:active:focus {
	animation: button-pop 0s ease-out;
	transform: scale(0.97);
}

@keyframes button-pop {
	0% {
		transform: scale(0.98);
	}
	40% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
} */

/* @layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 0 0% 0%;
		--card: 0 0% 100%;
		--card-foreground: 240 6.67% 2.94%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.92%;
		--primary: 255.85 42.06% 50.59%;
		--primary-foreground: 0 0% 100%;
		--secondary: 240 4.76% 95.88%;
		--secondary-foreground: 240 5.88% 10%;
		--muted: 240 4.76% 95.88%;
		--muted-foreground: 240 3.83% 46.08%;
		--accent: 240 4.76% 95.88%;
		--accent-foreground: 240 5.88% 10%;
		--destructive: 0 65.33% 44.12%;
		--destructive-foreground: 0 0% 98.04%;
		--border: 240 5.88% 90%;
		--input: 268.24 42.5% 84.31%;
		--ring: 240 5.03% 64.9%;
		--radius: 12px;
	}

	.dark {
		--background: 237 32% 22%;
		--foreground: 244 100% 94%;

		--card: 233 33% 25%;
		--card-foreground: 0 0% 98%;

		--popover: 233 33% 20%;
		--popover-foreground: 0 0% 98%;

		--primary: 317 61% 56%;
		--primary-foreground: 0 0% 100%;

		--secondary: 0 0% 31%;
		--secondary-foreground: 0 0% 98%;

		--muted: 229 43% 36%;
		--muted-foreground: 240 5.03% 65%;

		--accent: 236 33% 19%;
		--accent-foreground: 0 0% 98.04%;

		--destructive: 0 62% 50%;
		--destructive-foreground: 0 0% 98%;

		--border: 229 43% 36%;
		--input: 229 43% 36%;
		--ring: 229 43% 36%;
	}
} */

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 1rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-body;
	}

	button {
		@apply gap-2 font-semibold no-underline duration-200 ease-out;
		transition-property: color, background-color, border-color, opacity, box-shadow, transform;
		@media (prefers-reduced-motion: no-preference) {
			animation: button-pop 0.25s ease-out;
		}
		&:active:hover,
		&:active:focus {
			animation: button-pop 0s ease-out;
			transform: scale(0.97);
		}

		@keyframes button-pop {
			0% {
				transform: scale(0.98);
			}
			40% {
				transform: scale(1.02);
			}
			100% {
				transform: scale(1);
			}
		}
	}
}
